@import "/styles/mixins/padding.scss";
@import "/styles/mixins/responsive.scss";
@import "/styles/mixins/fonts.scss";

.container {
    @include Padding;
    padding: 0 20.25rem;
    padding-top: 100px;
    height: 100vh;
    background-repeat: no-repeat;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 2rem 0px;

    @include Phone{
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        height: 77vh;
    }
    
};

.text{

    @include Phone{
        text-align: center;
        padding-top: 100px;
    }

   
h1{
    @include SizeTitle;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
}

p{
    @include SizeSubtitle;
    color: #9acd32;
    font-size: 2rem;
    opacity: 0,8;
    text-shadow: yellowgreen 0px 0px 10px;
    
    position: relative;
}
};



.image{
    
    text-align: end;

    @include Phone{
        display: none;
        
       
        
        text-align: center;
    }
}

.image{
    animation: flutuando 5s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
}

@keyframes flutuando {
    0% {
        transform: translatey(0px) ;
    }
    50%{
        transform: translatey(-30px) rotate(0deg);
    }
    100%{
        transform: translatey(0px) rotate(0deg);
    }
}

