@import "/styles/mixins/padding.scss";
@import "/styles/mixins/responsive.scss";
@import "/styles/mixins/fonts.scss";

.container {
    @include Padding;
    padding: 0 20.25rem;
    padding-top: 250px;
    height: 100vh;
    
    background-repeat: no-repeat;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    

    @include Phone{
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
        height: 77vh;
        padding-top: 100px
    }
    
};

.text{

    

    

    @include Phone{
        text-align: center;
        padding-top: 100px;
    }

   
h1{
    @include SizeTitle;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
}

p{
    @include SizeSubtitle;
    margin-top: -15px;
    color: #9acd32;
    font-size: 2rem;
    opacity: 0,8;
    text-shadow: yellowgreen 0px 0px 10px;
    
    position: relative;
}
};

.boxicon{
    display: grid;
    
    cursor: pointer;
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 5px;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    transition: all ease-in-out 0.3s;
    
}


.boxicon:hover{
    background-color: #9acd32;
}

.redes{
    padding-top: 1.1rem;
    display: flex;
    margin: auto;
    gap: 1rem;
    @include Phone{
        align-items: center;
        flex-flow: column-reverse;
        
        

    }
}

.boxicon2{
    display: grid;
    cursor: pointer;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 5px;
      background-color: rgb(31, 31, 31);
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      padding: 0.5rem;
  }
  .icon1:hover {
    color: #9acd32;
  }
  

.image{
    
    text-align: end;

    @include Phone{
        display: none;
        
       
        
        text-align: center;
    }
}

.boxicon:hover{
    color: #9acd32;
}

.image{
    animation: flutuando 5s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
}

@keyframes flutuando {
    0% {
        transform: translatey(0px) ;
    }
    50%{
        transform: translatey(-30px) rotate(0deg);
    }
    100%{
        transform: translatey(0px) rotate(0deg);
    }
}

