@import "/styles/mixins/padding.scss";

.container {
  @include Padding;
  color: aliceblue;
  padding-top: 1px;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
}

.logotipo{
  width: 15px;
}
.menu {
  a + a {
    margin-left: 38.9px;
  }
  font-family: 'Lemon Days', sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  color: white;
  font-weight: 300;
  font-size: 22px;
}

.action{
  text-align: end;
}




