@import "/styles/mixins/padding.scss";
@import "/styles/mixins/responsive.scss";

@font-face{
  font-family: jetbrains;

  src: url("/styles/font/JetBrains_Mono/")
}

.container {
  @include Padding;
  color: aliceblue;
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  
  @include Phone{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}



.logotipo{
  width: 15px;
}
.menu {
  font-family: jetbrains;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  color: white;
  font-weight: 5;
  font-size: 22px;
  a + a {
    margin-left: 38.9px;
  }
  @include Phone{
    display: none;

  }
}

.action{
  text-align: end;

  @include Phone{
    display: none;
  }
}




