@import "/styles/mixins/padding.scss";
@import "/styles/mixins/responsive.scss";

.container {
  @include Padding;
  padding-top: 50px;
  padding-bottom: 120px;
  display:grid;
  justify-content: center;
  width: 1100px;
  border-radius: 25px;
  margin: auto;
  background-color: #2C243B;
  
  @include Phone{
    padding-top: 50px;
    width: 100%;
    padding-bottom: 75px;
    
    
}
};

.header{
  text-align: center;
  h1{
    font-size: 2.8rem;
  }
}

.habs{
  padding-top: 100px;
  
  gap: 32px;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  
  justify-content: center;
  

  @include Phone{
      grid-template-columns: 1fr;
      grid-template-rows: max-content;
  }
}

.slick-slide{
  
  display: grid;
}

.card{

  width: 160px;
  
  height: 160px;
  border-radius: 30px;
  background: #2C243B;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  
  transition: 0.5s ease-out;
  overflow: visible;
}



 .cardimage{
  place-content: center;
  display: grid;
  text-align: center;
 }

 .carddetails{
  

    color: black;
    display: grid;
    place-content: center;

    p{
      font-size: 1.3rem;
      font-style: bold;
      text-transform: uppercase;
      
      color: #f5f5f5;
    }
   
 }

 .card:hover{
  animation: botao 1s ease-in-out infinite alternate;
  animation-iteration-count: infinite;
}

@keyframes botao{
0%{
  transform: scale(1);
}
100%{
  transform: scale(1.08);
}
}

.cardimage{
  animation: flutuando 4s ease-in-out infinite alternate;
  animation-iteration-count: infinite;
}

@keyframes flutuando {
  0% {
      transform: translatey(0px) ;
  }
  50%{
      transform: translatey(-10px) rotate(0deg);
  }
  100%{
      transform: translatey(0px) rotate(0deg);
  }
}


.slick-slide > div {
  margin: 0 10px;
  text-align: center;
  align-items: center;
}