@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/styles/mixins/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");


html,
body {
  padding: 0;
  margin: 0;
  background-color: #121212;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

