
.button{
  padding: 15px 50px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  background-color: yellowgreen;
  border: none;
  cursor: pointer;
}

.button:hover{
    animation: botao 1s ease-in-out infinite alternate;
    animation-iteration-count: infinite;
}

@keyframes botao{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.08);
  }
}